pandas
beautifulsoup4
scikit-learn
lxml
numpy
scipy
streamlit
sentence-transformers
matplotlib
seaborn
langchain
langchain-community
langchain-openai
langchain-google-genai
langgraph
pydantic
langchain-groq
